<div class="jumbotron">
  <h1>Challenges</h1>
  <p>Enter the relm of challenges to compete against yourself.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
</div>

<ul>
  {{#each controller}}
    <li>{{#linkTo "competition" this}}{{name}}{{/linkTo}}</li>
  {{else}}
    <li>There are no competitions.</li>
  {{/each}}
</ul>

{{outlet}}