<h1>Competitions</h1>
<hr>
<div class="row">
  <div class="col-md-3">
    {{#linkTo "competitions.create" class="btn btn-success btn-block"}}New Competition{{/linkTo}}
    <ul class="nav nav-pills nav-stacked">
    {{#each controller}}
      <li>{{#linkTo "competition" this}}{{name}}{{/linkTo}}</li>
    {{else}}
      <li>There are no competitions.</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
