<h1>Competitions</h1>
{{#linkTo "competitions.create" class="btn btn-lg btn-success btn-block"}}New Competition{{/linkTo}}
<hr>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
    {{#each controller}}
      {{#unless isDirty}}
      <li>{{#linkTo "competition" this}}{{name}}{{/linkTo}}</li>
      {{/unless}}
    {{else}}
      <li>There are no competitions.</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>


