<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Workout Wars</h1>
    <p>Are you ready to push your body to the max?</p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Competitions</h2>
      <p>Competitions are where you go to prove what you are made of. Nothing pushes a workout like a good friendly competition. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Challenges</h2>
      <p>Not the competitive type? Challenges are a way for you to compete against yourself. The only goal is to keep getting better. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Teams</h2>
      <p>Teams can add an additional element. You can join team competitions which you and your team can compete against other teams. Or you can join team challenges where as a group you try to compelete a set goal.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div> <!-- /container -->