<h1>Team Competitions</h1>
<hr>
<div class="row">
  <div class="col-md-3">
    {{#linkTo "teamCompetitions.create" class="btn btn-success btn-block"}}New Team Competition{{/linkTo}}
    <ul class="nav nav-pills nav-stacked">
    {{#each controller}}
      <li>{{#linkTo "teamCompetition" this}}{{name}}{{/linkTo}}</li>
    {{else}}
      <li>There are no team competitions.</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
