<h1>Team Challenges</h1>
<hr>
<div class="row">
  <div class="col-md-3">
    {{#linkTo "teamChallenges.create" class="btn btn-success btn-block"}}New Team Challenge{{/linkTo}}
    <ul class="nav nav-pills nav-stacked">
    {{#each controller}}
      <li>{{#linkTo "teamChallenge" this}}{{name}}{{/linkTo}}</li>
    {{else}}
      <li>There are no team challenges.</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>